# Auto detect text files and perform LF normalization
* text=auto

# Ignore macOS resource forks
._* export-ignore

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text
*.js text
*.ts text
*.tsx text
*.json text
*.sql text
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
